<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gk.study.mapper.ThingMapper">


    <select id="getList" resultType="com.gk.study.entity.Thing">
        select * from b_thing;
    </select>

    <select id="findAllActive" resultType="com.gk.study.entity.Thing">
        SELECT *
        FROM b_thing
        WHERE status = '0'
    </select>

    <select id="findTopHot" resultType="com.gk.study.entity.Thing">
        SELECT *
        FROM b_thing
        WHERE status = '0'
        ORDER BY (pv + recommend_count * 2 + collect_count * 3) DESC
        LIMIT #{limit}
    </select>

    <select id="findByIds" resultType="com.gk.study.entity.Thing">
        SELECT *
        FROM b_thing
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
